.active {
    color: rgb(255, 205, 112);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(16,16,16,0.99);
}

nav .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 2rem;
}

nav ul {
    display: flex;
    transition: transform 0.3s ease;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    transition: color 0.3s ease;
    font-weight: 3wwwwwwwwwwww00;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
}

nav ul li a:not(.active):hover {
    color:rgb(247, 168, 22);
    transition: color 0.3s ease;
}

nav .menu {
    display: none;
    position: fixed;
    top: 1.2rem;
    right: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
    width: 36px;
}

nav .menu svg{
    height: 36px;
    width: 36px;
}

.menu-socials {
    display: none;
}



.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    text-align: left;
    text-decoration: none;
}

.logo-box {
    width: 144px;
}

.logo-link {
    display: inline-block;
    font-size: 32px;
    font-family: consolas;
    font-weight: 500;
    text-align: left;
    color: orange;
    text-decoration: none;
}



.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    
}

.social-container a {
    width: 24px;
    height: 24px;
    margin-left: 1.5rem;
}

.social-container .social-icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: transform 0.3s ease;
        color: white;
}


.social-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.nav-container {
    display: flex;
}

.nav-edge-container {
    min-width: 200px;
}

@media (max-width: 950px) {
    nav ul li a {
        font-size: 1rem;

    }

    .logo-link {
        font-size: 36px;
    }

    .logo-box {
        width: 120px;
        justify-content: center;
    }

    .nav-edge-container {
        min-width: 130px;
    }

    .social-container a {
        width: 20px;
        height: 20px;
        margin-left: 1.5rem;
    }
    
    .social-container .social-icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease;
            color: white;
    }
}

@media (max-width: 780px) {

    .logo-container {
        margin-left: 1rem;
    }

    .menu-socials {
        display: flex;
        justify-content: center;
    }

    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
        margin-top: 0;

    }

    .nav-container {
        text-align: center;
        width: 100%;
        z-index: 200;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }


    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .social-container {
        display: none;
    }

}

