.narrow-content-container {
    max-width: 1400px;
    min-height: 80vh;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 150px;
  }

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.main-color {
  background-color: var(--sky-blue);
  color: black;
}

.main-color > a {
  color: black;
}

.active {
  color: var(--darker-blue);
  position: relative;
  display: inline-block;
}