.narrow-content-container {
    max-width: 1400px;
    min-height: 100vh;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 150px;
  }

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.main-color,
.main-color a {
  color: #f8fafc;
}

.active {
  color: var(#0E9594) !important;
  position: relative;
  display: inline-block;
}

