.narrow-content-container {
    display: inline-block;
    min-height: 100vh;
    width: auto;
    padding: auto;
    padding-top: 150px;
    position: relative;
    z-index: 10;
    text-align: left;
  }

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.main-color,
.main-color a {
  color: var(--white-text);
}


.z-50 {
  z-index: 50;
}

.z-0 {
  z-index: 0
}

/* screen smaller than 1200px */
@media screen and (max-width: 1200px) {
  .narrow-content-container {
    max-width: 900px;
  }
  

}


