.project-grid {
    --row-gap: 80px;
    --col-gap: 30px;
    --num-cols: 3;

    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-gap: var(--row-gap) var(--col-gap);


}

.project-grid {
    margin-left: 5em;
    margin-right: 5em;
}

.project-grid img {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    max-height: 200px;
}

.project-outer {
    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.project-outer:hover {
    background-color: rgba(30, 41, 59, .5);
    border-radius: 0.375rem;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 1px 0 0 rgba(148,163,184,.1);
}


.project-inner {
    margin: 20px
}



.project-links {
    display: flex;
    justify-content: left;
    
}

.project-text-header {
}

.project-link-button {
    color: var(--white-text);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.project-link-button:hover {
    transform: scale(1.1);
}



.project-title {
    display: inline-block;
    color: var(--active);
    font-weight: 400;
}

.project-short-descrip {
    display: block;
    font-size: 0.9em;
    margin-bottom: 10px;
}


/* screen smaller than 1200px */
@media screen and (max-width: 1200px) {
    .project-grid {
        --num-cols: 2;
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* screen smaller than 700px */
@media screen and (max-width: 700px) {
    .project-grid {
        --num-cols: 1;
        margin-left: 3em;
        margin-right: 3em;
        --row-gap: 1em;

    }
}