.study-outer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.studylog-display {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.studylog-nodes::-webkit-scrollbar {
	width: 3px;
}

.studylog-nodes::-webkit-scrollbar-thumb {
	background-color: var(--inactive-white);
	border-radius: 4px;
}

.studylog-nodes:first-child {
	margin-top: 20px !important;
}

.study-node {
	max-width: 600px;
	border-radius: 20px;
	padding: 15px;
	gap: 5px;
}

.study-node-title {
	text-align: left;
	font-size: 18px !important;
	font-weight: 600 !important;
}

.study-time {
	width: 150px;
	min-width: 150px;
	text-align: end !important;
	padding-top: 10px !important;
}

.study-category {
	display: inline-block;
	color: #3ea8ff !important;
}

.study-node-text {
	font-weight: 400;
	white-space: pre-wrap;
	padding-left: 10px;
	width: 100%;
}

.study-node-text:hover {
	cursor: default;
}
