#blog-masonry-box {
    display: inline-block;
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
}

#blog-inner {
    max-width: 1500px;
    margin-left:auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.image-wrapper {
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
.image-container:hover .image-overlay {
    opacity: 1;
}

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

/* screen smaller than 1600px */ 
@media screen and (max-width: 1600px) {

    #blog-masonry-box {
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 2em;
    }

}

/* screen smaller than 1200px */ 
@media screen and (max-width: 1200px) {
    #blog-masonry-box {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 2em;
    }
}
