.project-grid-box {
    display: flex
}

.project-grid {
    --row-gap: 50px;
    --col-gap: 30px;
    --num-cols: 3;

    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-gap: var(--row-gap) var(--col-gap);
    margin: auto; 

}

.project-grid img {
    display: inline-block;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 0.375rem;
    max-height: 200px;
}

.project-outer {
    display: inline-block;
    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    background-color: var(--project);
    border-radius: 0.375rem;
    
    box-shadow: var(--shadow-elevation-medium);
    width: 395.55px;
    
}

.project-outer:hover {
    background-color: var(--project-hover);
    border-radius: 0.375rem;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.project-outer:hover .project-title {
    color: var(--active)
}


.project-inner {
    margin: 20px;
}

.project-footer {
    display: inline-block;
    text-align: left;
}



.project-links {
    display: flex;
    justify-content: left;
    width: 100%;
}

.project-link-button {
    color: var(--white-text);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 10px;
    cursor: pointer;
    transition-property: color, border-color,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .30s;
}

.project-link-button:hover {
    transform: scale(1.05);
    border-color: var(--active);
    color: var(--active)
}

.project-title {
    display: inline-block;
    color: var(--white-text);
    font-weight: 400;
}

.project-short-descrip {
    display: block;
    font-size: 0.9em;
    margin-bottom: 10px;
}


/* screen smaller than 1200px */
@media screen and (max-width: 1200px) {
    .project-grid {
        --num-cols: 2;
        margin-left: 0;
        margin-right: 0;
    }

}

/* screen smaller than 700px */
@media screen and (max-width: 700px) {
    .project-grid {
        --num-cols: 1;
        margin-left: 0;
        margin-right: 0;
        --row-gap: 1em;

    }
}