.footer-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	font-family: "consolas";
	color: white !important;
	background-color: var(--quaternary);
	height: 25vh;
	padding: 20px;
}

.footer-inner {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
}

.footer-heading {
	font-weight: 700 !important;
}

.footer-link {
	color: white;
}

.footer-link:visited {
	color: white;
}
