:root {
	--project-bg: var(--bright-green);
	--project-title: var(--bright-green);
	--project-descr: var(--white);
	--project-link: var(--white);
	--project-link-hover: var(--bright-blue);
	--project-skill: var(--brighter-blue);
}

#projects {
	width: 100%;
	padding-bottom: 100px;
	margin-top: 85px;
}

#project-grid-box {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.project-grid {
	--num-cols: 1;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), minmax(0, 1fr));
	margin-left: 20px;
	margin-right: 20px;
	gap: 30px;
}

.project-outer {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: transparent !important;
	transition: border-color 0.33s ease;
	border: 3px solid transparent;
}

.project-outer:hover {
	border-color: rgb(196, 239, 244);
}

.project-outer:hover .project-image {
	transform: translate(10px, -10px) rotate(0.5deg);
}

.project-box {
	display: flex !important;
	flex-direction: row-reverse !important;
	height: 300px;
	overflow: hidden;
}

.project-image-box {
	width: 50% !important;
	height: 100%;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
}

.project-image {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100% !important;
	height: 98%;
	border-top: calc(0.2rem * var(--mantine-scale)) solid
		var(--mantine-color-gray-3);
	border-left: calc(0.2rem * var(--mantine-scale)) solid
		var(--mantine-color-gray-3);
	border-radius: calc(0.5rem * var(--mantine-scale)) 0 0 0 !important;
	object-fit: auto !important;
	object-position: top left;
	transition: transform 0.33s ease;
	will-change: transform;
}

.project-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.project-footer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: left;
}

.project-links {
	display: flex;
	justify-content: left;
	width: 100%;
}

.project-link-icon {
	height: 0.9rem;
	width: 0.9rem;
	margin-left: 3px;
}

.project-link-button:hover {
	border-color: var(--project-link-hover);
	background-color: var(--bright-blue);
	color: var(--main-bg);
}

.project-text-header {
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 10px 0;
}

.project-title {
	color: var(--off-black);
}

.project-short-descrip {
	margin-top: 10px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 105px;
	color: var(--off-black);
	font-weight: 400 !important;
	overflow-y: auto;
}

.project-short-descrip::-webkit-scrollbar {
	width: 4px;
}

.project-short-descrip::-webkit-scrollbar-thumb {
	background-color: var(--bright-blue);
	border-radius: 4px;
}

.project-short-descrip::-webkit-scrollbar-button {
	display: none;
}

.project-skills-list {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 10px;
}

.project-skills-item {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: row !important;
	gap: 5px;
	padding: 0px 10px;
	border-radius: 10px;
	height: 27px;
	cursor: default;
	color: var(--off-black);
}

.skill-item-name {
	font-size: 14px !important;
}

@media screen and (max-width: 1800px) {
}

/* screen smaller than 1000px */
@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 460px) {
}
