::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--bright-blue);
	border-radius: 4px;
}

::-webkit-scrollbar-button {
	display: none;
}

body {
	overflow-y: scroll;
}

.content-container {
	height: 100%;
	width: 100%;
}

.fade-appear,
.fade-enter {
	opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.active {
	color: var(--active-white);
}

.primary {
	color: var(--primary) !important;
}

.logo-link {
	text-decoration: none;
}

.logo-link:visited {
	color: var(--off-black) !important;
}

.nav {
	color: var(--off-black) !important;
}

.nav-link {
	font-family: "consolas" !important;
	font-weight: 400 !important;
	padding: 0 20px;
}

.burger-link {
	padding: 10px !important;

}

.burger-link:hover {
	background-color: rgb(220, 218, 218);
}

.nav-socials {
	padding: 5px 10px;
	border: 1px solid var(--off-black);
	border-radius: 20px;
	background-color: var(--);
}

.nav-socials {
	transition: transform 0.33 ease-in-out !important;
}

.nav-socials a {
	height: 22px !important;
	width: 22px !important;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-socials a,
.nav-socials a:visited {
	color: var(--secondary);
}

.nav-socials a:hover {
	color: var(--primary);
	transform: scale(1.1);
}

.nav-button {
	border: none !important;
}

.section-title {
	text-align: left;
	font-family: "consolas" !important;
	font-weight: 500 !important;
	color: var(--primary);
	margin-bottom: 30px !important;
	font-size: 2.75rem !important;
	letter-spacing: 1px !important;
}


.sub-heading {
	color: #007ea7 !important;
}

.montserrat-400 {
	font-family: "Montserrat", serif !important;
	font-optical-sizing: auto;
	font-weight: 400 !important;
	font-style: normal;
}

.montserrat-500 {
	font-family: "Montserrat", serif !important;
	font-optical-sizing: auto;
	font-weight: 500 !important;
	font-style: normal;
}

.montserrat-600 {
	font-family: "Montserrat", serif !important;
	font-optical-sizing: auto;
	font-weight: 600 !important;
	font-style: normal;
}

.montserrat-700 {
	font-family: "Montserrat", serif !important;
	font-optical-sizing: auto;
	font-weight: 700 !important;
	font-style: normal;
}

.mantine-Title-root {
	color: var(--primary);
}


@media screen and (max-width: 1275px) {
	
}
