* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	scroll-behavior: smooth !important;
}

#root {
	height: 100%;
	background-color: var(--bg-color);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%; /* Ensures it takes full viewport height */
	overflow-x: hidden; /* Prevents horizontal scroll */
}

:root {
	color: #ffffff !important;

	--main-bg: rgb(26, 26, 26);

	--bg-color: var(--main-bg);
	--nav-bg: var(--main-bg);

	--primary: #238cef;
	--secondary: #d90429;

	--off-white: #ffffff;
	--off-black: #4e4e4e;

	--active-white: var(--white);
	--inactive-white: var(--columbia-blue);

	--project: #fefefe;
	--project-hover: #7190c58e;
	--project-text: rgb(72, 72, 72);

	--border-dark: #858b9833;
	--border-light: #c8ceddc4;

	--shadow-color: 0deg 0% 2%;
	--shadow-elevation-low: 0.5px 0.5px 0.5px hsl(var(--shadow-color) / 0.69),
		0.7px 0.7px 0.7px -2.5px hsl(var(--shadow-color) / 0.46),
		2px 1.9px 2.1px -5px hsl(var(--shadow-color) / 0.23);
	--shadow-elevation-medium: 0.5px 0.5px 0.5px hsl(var(--shadow-color) / 0.58),
		0.6px 0.6px 0.6px -1.2px hsl(var(--shadow-color) / 0.46),
		1.7px 1.6px 1.8px -2.5px hsl(var(--shadow-color) / 0.35),
		4.4px 4.3px 4.6px -3.7px hsl(var(--shadow-color) / 0.23),
		9.8px 9.5px 10.2px -5px hsl(var(--shadow-color) / 0.12);
	--shadow-elevation-high: 0.5px 0.5px 0.5px hsl(var(--shadow-color) / 0.54),
		0.6px 0.5px 0.6px -0.6px hsl(var(--shadow-color) / 0.48),
		1px 1px 1.1px -1.1px hsl(var(--shadow-color) / 0.43),
		2.3px 2.2px 2.4px -1.7px hsl(var(--shadow-color) / 0.38),
		4.7px 4.6px 4.9px -2.2px hsl(var(--shadow-color) / 0.32),
		8.8px 8.5px 9.2px -2.8px hsl(var(--shadow-color) / 0.27),
		14.8px 14.4px 15.5px -3.3px hsl(var(--shadow-color) / 0.21),
		23.3px 22.5px 24.3px -3.9px hsl(var(--shadow-color) / 0.16),
		34.5px 33.4px 36px -4.4px hsl(var(--shadow-color) / 0.11),
		48.9px 47.3px 51px -5px hsl(var(--shadow-color) / 0.05);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.full-w {
	width: 100%;
}

.no-w {
	width: 0;
}

.visible {
	visibility: visible;
}

.c-white {
	color: #e0e6ed !important;
}

.bor-white {
	border-color: #e0e6ed !important;
}

.image-dim {
	filter: brightness(90%);
}

.container-center {
	max-width: 1200px;
	height: calc(100vh - 60px);
	padding: 20px 20px;
	margin-left: auto;
	margin-right: auto;
	scrollbar-width: thin;
	scrollbar-color: grey transparent;
	overflow-y: scroll;
}

.container-center::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.container-center::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 4px;
	border: none;
}

.container-center::-webkit-scrollbar-track {
	background-color: auto;
}

.container-center::-webkit-scrollbar-button {
	display: none;
	height: 0;
}

/**
#2c3e50
#3498db
#27ae60
#bdc3c7
#f39c12
**/
